h1:hover{
    color: fuchsia;
    background-color: gray;
}
input:focus{
    color: rgb(34, 13, 229);
    /* background-color: black; */
    border: 2px rgb(234, 4, 4);
    padding-left: 8px;
    outline: 0;

}
a:visited{
    color: gray;
}

/* li:last-child{
    color: blue;
} */

/* li:first-child{
    background-color: blueviolet;
} */

/* li:nth-child(2n){
    color: aqua;
} */

li:nth-child(2n+1){
    background-color: aquamarine;
}